@use "../base/variables";
@use "../base/mixins";

.footer {
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary-middle);
    &.section {
        padding: 3vw 10vw;
        @include mixins.tablet {
            padding: 5vw 10vw;
        }
        @include mixins.mobile {
            padding: 10vw;
        }
        @include mixins.xs {
            padding: 10vw;
        }
    }
    &__header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--section-inner-desktop);
        @include mixins.tablet {
            gap: var(--section-inner-tablet);
            & .logo {
                margin: 0;
            }
        }
        @include mixins.mobile {
            gap: var(--section-inner-tablet);
            & .logo {
                margin: 0;
            }
        }
        @include mixins.xs {
            flex-direction: column;
            gap: var(--section-inner-tablet);
            & .logo {
                margin: 0;
            }
        }
    }
    &__nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__list {
        display: flex;
        align-items: center;
        @include mixins.gap;
    }
    &__link {
        @include mixins.nav-footer-link;
    }
    &__text {
        @include mixins.caption;
    }
    &__address {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-style: normal;
        @include mixins.gap;
        @include mixins.xs {
            align-items: center;
        }
        &-link {
            @include mixins.body-2;
            & {
                color: var(--color-primary-light);
                cursor: pointer;
            }
        }
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: var(--gap-xs);
        @include mixins.xs {
            align-items: center;
        }
    }
    &__tel {
        @include mixins.body-2;
        & {
            color: var(--color-primary-light);
            cursor: pointer;
        }
    }
    &__bottom {
        list-style: none;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @include mixins.gap;
        @include mixins.xs {
            flex-direction: column;
            align-items: center;
        }
    }
}
