@use "../base/variables";
@use "../base/mixins";

.hire {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    min-height: 100vh;
    & .title {
        position: relative;
        z-index: 9;
        @include mixins.mobile {
            font-size: 32px;
        }
    }
    &__bg {
        position: absolute;
    }
    &__video {
        position: fixed;
        inset: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        overflow: hidden;
        will-change: transform;
        &::after {
            content: "";
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(38, 43, 87, 0.3);
            z-index: 1;
        }
        & .video {
            position: absolute;
            inset: 0;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            object-fit: cover;
            animation: playVideo 10s linear infinite;
            filter: grayscale(100%);
        }
        @keyframes playVideo {
            from {
                transform: scale(1.05);
            }
            to {
                transform: scale(1.06);
            }
        }
    }
}
