@use "../base/variables";
@use "../base/mixins";

.hire {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    & .title {
        position: relative;
        z-index: 9;
        @include mixins.mobile {
            font-size: 32px;
        }
        &::before {
            content: "";
            background: url(../img/hire_img.webp) no-repeat center / contain;
            position: absolute;
            top: 0;
            z-index: -1;
            opacity: 0.95;
            width: 100%;
            max-width: 800px;
            height: 410px;
            transform: translateY(-22%);
            @include mixins.tablet {
                transform: translateY(-120px);
            }
            @include mixins.mobile {
                transform: translateY(-150px);
            }
            @include mixins.xs {
                transform: translateY(-160px);
            }
        }
    }
    &__img {
        background-image: url(../img/hire_img.webp);
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        position: absolute;
        z-index: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.95;
        width: 800px;
        height: 410px;
        @media (max-width: 767.98px) {
            width: 450px;
            height: auto;
        }
    }
    &__video {
        position: fixed;
        inset: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        overflow: hidden;
        &::after {
            content: "";
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(38, 43, 87, 0.3);
            z-index: 1;
        }
        & video {
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            position: absolute;
            inset: 0;
            transform: translate(-50%, -50%);
            object-fit: cover;
            animation: playVideo 10s linear infinite;
            filter: grayscale(100%);
        }
        @keyframes playVideo {
            from {
                transform: scale(1.05);
            }
            to {
                transform: scale(1.06);
            }
        }
    }
}
