@use "../base/variables";
@use "../base/mixins";

.partners {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--color-primary-light);
    &__header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @include mixins.gap;
        & .text {
            max-width: 430px;
        }
        @include mixins.mobile {
            flex-wrap: wrap;
        }
        @include mixins.xs {
            flex-wrap: wrap;
        }
    }
    &__main {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @include mixins.gap;
        @include mixins.tablet {
            flex-wrap: wrap;
        }
        @include mixins.mobile {
            flex-wrap: wrap;
        }
        @include mixins.xs {
            flex-wrap: wrap;
        }
    }
    &__list {
        width: calc(60% - var(--gap-desktop));
        display: flex;
        flex-wrap: wrap;
        border-right: 1px solid var(--color-secondary-light);
        @include mixins.gap;
        @include mixins.tablet {
            width: 100%;
            padding-bottom: var(--section-inner-mobile);
            border-right: none;
            border-bottom: 1px solid var(--color-secondary-light);
        }
        @include mixins.mobile {
            width: 100%;
            padding-bottom: var(--section-inner-mobile);
            border-right: none;
            border-bottom: 1px solid var(--color-secondary-light);
        }
        @include mixins.xs {
            width: 100%;
            border-right: none;
            border-bottom: 1px solid var(--color-secondary-light);
        }
    }
    &__item {
        width: 100%;
        flex: 0 1 calc(100% / 3 - var(--gap-desktop));
        @include mixins.tablet {
            flex: 0 1 calc(100% / 3 - var(--gap-tablet));
        }
        @include mixins.mobile {
            flex: 0 1 calc(100% / 2 - var(--gap-mobile));
        }
        @include mixins.xs {
            flex: 0 1 calc(100% / 2 - var(--gap-mobile));
        }
    }
    &__logo {
        width: 100%;
        height: 100px;
        object-fit: contain;
    }
    &__certification {
        width: calc(40% - var(--gap-desktop));
        display: flex;
        flex-wrap: wrap;
        @include mixins.gap;
        @include mixins.tablet {
            width: 100%;
        }
        @include mixins.mobile {
            width: 100%;
        }
        @include mixins.xs {
            width: 100%;
        }
    }
    &__certificate {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        @include mixins.gap;
        &-item {
            width: 100%;
            flex: 0 1 calc(100% / 3 - var(--gap-desktop));
            @include mixins.tablet {
                flex: 0 1 calc(100% / 3 - var(--gap-tablet));
            }
            @include mixins.mobile {
                flex: 0 1 calc(100% / 2 - var(--gap-mobile));
            }
            @include mixins.xs {
                flex: 0 1 calc(100% / 2 - var(--gap-mobile));
            }
        }
    }
}
