/* CSS VARIABLES */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box !important;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
}

input,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
  background: transparent;
}

img,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  box-sizing: border-box !important;
}

*:where(:not(html, iframe, canvas, img, svg, path, video, audio)) {
  display: revert;
}

table {
  border-collapse: collapse;
}

/* ============================================= */
/*                 DESIGN TOKENS                 */
/*          (colors, radii, shadows, grid)       */
/* ============================================= */
:root {
  /* ----------------------------------------- */
  /*                 COLORS                    */
  /* ----------------------------------------- */
  --color-primary-dark: rgba(1, 10, 56, 1);
  --color-primary-light: #ffffff;
  --color-primary-middle: #2F3942;
  --color-primary-accent: #262b57;
  --color-secondary-light: #d4d4d4;
  /* ----------------------------------------- */
  /*                 GRADIENTS                 */
  /* ----------------------------------------- */
  --gradient-hero: linear-gradient(90deg, #5ba7ff 0%, #a3d8ff 100%);
  /* ----------------------------------------- */
  /*                SHADOWS                    */
  /* ----------------------------------------- */
  --shadow-soft: 0 5px 5px rgba(0, 0, 0, 0.2);
  /* ----------------------------------------- */
  /*                PRELOAD                    */
  /* ----------------------------------------- */
  --preload-bg-color: rgba(0, 0, 0, 0.5);
  /* ----------------------------------------- */
  /*              TYPOGRAPHY FONTS             */
  /* ----------------------------------------- */
  --font-primary: "Rubik";
  --font-secondary: "Druk Text Wide";
  /* ----------------------------------------- */
  /*                 FONT SIZES                */
  /* ----------------------------------------- */
  --h1-desktop: 64px;
  --h1-tablet: 48px;
  --h1-mobile: 24px;
  --h1-weight: 700;
  --h1-line-height: 120%;
  --h1-line-height-mobile: 125%;
  --h1-letter-spacing: 0;
  --h2-desktop: 40px;
  --h2-tablet: 32px;
  --h2-mobile: 24px;
  --h2-weight: 600;
  --h2-line-height: 125%;
  --h2-line-height-mobile: 130%;
  --h2-letter-spacing: 0;
  --h3-desktop: 24px;
  --h3-tablet: 22px;
  --h3-mobile: 20px;
  --h3-weight: 600;
  --h3-line-height: 130%;
  --h3-letter-spacing: 0;
  --h4-desktop: 20px;
  --h4-tablet: 18px;
  --h4-mobile: 16px;
  --h4-weight: 400;
  --h4-line-height: 130%;
  --h4-letter-spacing: 0.5px;
  --body1-desktop: 18px;
  --body1-tablet: 16px;
  --body1-mobile: 15px;
  --body1-weight: 400;
  --body1-line-height: 150%;
  --body1-letter-spacing: 0;
  --body2-desktop: 16px;
  --body2-tablet: 15px;
  --body2-mobile: 14px;
  --body2-weight: 400;
  --body2-line-height: 150%;
  --body2-letter-spacing: 0;
  --caption-desktop: 14px;
  --caption-tablet: 14px;
  --caption-mobile: 13px;
  --caption-weight: 400;
  --caption-line-height: 140%;
  --caption-letter-spacing: 0;
  --nav-desktop: 16px;
  --nav-tablet: 14px;
  --nav-mobile: 13px;
  --nav-weight: 500;
  --nav-line-height: 140%;
  --nav-footer-line-height: 150%;
  --nav-letter-spacing: 0;
  --btn-desktop: 16px;
  --btn-tablet: 15px;
  --btn-mobile: 14px;
  --btn-weight: 600;
  --btn-line-height: 1;
  --btn-letter-spacing: 0.2px;
  /* ----------------------------------------- */
  /*                   GRID                    */
  /* ----------------------------------------- */
  --grid-columns-desktop: 12;
  --grid-columns-tablet: 8;
  --grid-columns-mobile: 4;
  --grid-columns-xs: 2;
  /* ----------------------------------------- */
  /*                  GUTTER                   */
  /* ----------------------------------------- */
  --gutter-desktop: 32px;
  --gutter-tablet: 28px;
  --gutter-mobile: 24px;
  /* ----------------------------------------- */
  /*             SECTION SPACING               */
  /* ----------------------------------------- */
  --section-padding-desktop: 10vw;
  --section-padding-tablet: 10vw;
  --section-padding-mobile: 10vw;
  --section-inner-desktop: 40px;
  --section-inner-tablet: 32px;
  --section-inner-mobile: 24px;
  --section-margin-desktop: 10vw;
  --section-margin-tablet: 10vw;
  --section-margin-mobile: 10vw;
  /* ----------------------------------------- */
  /*                  GAPS                     */
  /* ----------------------------------------- */
  --gap-desktop: 24px;
  --gap-tablet: 16px;
  --gap-mobile: 16px;
  --gap-xs: 8px;
  /* ----------------------------------------- */
  /*                  CARDS                    */
  /* ----------------------------------------- */
  --card-padding-desktop: 28px;
  --card-padding-tablet: 24px;
  --card-padding-mobile: 20px;
  /* ----------------------------------------- */
  /*                  BUTTONS                  */
  /* ----------------------------------------- */
  --btn-height-desktop: 56px;
  --btn-height-tablet: 52px;
  --btn-height-mobile: 48px;
  --btn-padding-desktop: 28px;
  --btn-padding-tablet: 24px;
  --btn-padding-mobile: 20px;
  --btn-gap-desktop: 12px;
  --btn-gap-tablet: 10px;
  --btn-gap-mobile: 8px;
  /* ----------------------------------------- */
  /*                  ICONS                    */
  /* ----------------------------------------- */
  --icon-desktop: 24px;
  --icon-tablet: 20px;
  --icon-mobile: 16px;
  /* ----------------------------------------- */
  /*                RADIUS                     */
  /* ----------------------------------------- */
  --radius-xs: 8px;
  --radius-sm: 16px;
  --radius-md: 20px;
  --radius-lg: 24px;
}

/* ----------------------------------------- */
/*               BREAKPOINTS                 */
/* ----------------------------------------- */
/* rubik-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-v28-latin-regular.woff2") format("woff2");
}
/* rubik-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/rubik/rubik-v28-latin-500.woff2") format("woff2");
}
/* rubik-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/rubik/rubik-v28-latin-600.woff2") format("woff2");
}
/* rubik-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-v28-latin-700.woff2") format("woff2");
}
/* rubik-800 - latin */
@font-face {
  font-display: swap;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-v28-latin-800.woff2") format("woff2");
}
/* rubik-900 - latin */
@font-face {
  font-display: swap;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/rubik/rubik-v28-latin-900.woff2") format("woff2");
}
@font-face {
  font-family: "Druk Text Wide";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/druk/druk-regular.eot");
  src: url("../fonts/druk/druk-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/druk/druk-regular.woff2") format("woff2"), url("../fonts/druk/druk-regular.woff") format("woff"), url("../fonts/druk/druk-regular.ttf") format("truetype");
}
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: var(--light-secondary) !important;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--light-secondary);
  border-radius: 20px;
  border: 3px solid var(--accedent-primary);
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--accedent-primary) var(--light-secondary);
}

.loaded .preloader-container {
  opacity: 1;
  visibility: hidden;
}

.preloader-container {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--preload-bg-color, rgba(0, 0, 0, 0.5));
  z-index: 9999;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  pointer-events: none;
}

.preloader {
  background: url(../img/preload/spinner.svg) no-repeat center/contain;
  animation: spin 2s linear infinite;
  will-change: transform;
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: reduce) {
  .preloader {
    animation: none;
  }
}
.title__main {
  font-family: var(--font-secondary);
  font-weight: var(--h1-weight);
  line-height: clamp(var(--h1-line-height-mobile), var(--h1-line-height) + 0.2vw, var(--h1-line-height));
  letter-spacing: var(--h1-letter-spacing);
  color: var(--color-primary-light);
  text-transform: uppercase;
}
.title__main {
  font-size: var(--h1-mobile);
}
@media (min-width: 465px) {
  .title__main {
    font-size: var(--h1-mobile);
  }
}
@media (min-width: 768px) {
  .title__main {
    font-size: var(--h1-tablet);
  }
}
@media (min-width: 1280px) {
  .title__main {
    font-size: var(--h1-desktop);
  }
}
.title__main {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.title__main--right {
  text-align: right;
}
.title__main--center {
  text-align: center;
}
.title__secondary {
  font-family: var(--font-secondary);
  font-weight: var(--h2-weight);
  line-height: clamp(var(--h2-line-height-mobile), var(--h2-line-height) + 0.2vw, var(--h2-line-height));
  letter-spacing: var(--h2-letter-spacing);
  color: var(--color-primary-accent);
  text-transform: uppercase;
}
.title__secondary {
  font-size: var(--h2-mobile);
}
@media (min-width: 465px) {
  .title__secondary {
    font-size: var(--h2-mobile);
  }
}
@media (min-width: 768px) {
  .title__secondary {
    font-size: var(--h2-tablet);
  }
}
@media (min-width: 1280px) {
  .title__secondary {
    font-size: var(--h2-desktop);
  }
}
.title__secondary {
  max-width: 380px;
}
.title__card {
  font-family: var(--font-primary);
  font-weight: var(--h3-weight);
  line-height: var(--h3-line-height);
  letter-spacing: var(--h3-letter-spacing);
  color: var(--color-primary-accent);
  text-transform: uppercase;
}
.title__card {
  font-size: var(--h3-mobile);
}
@media (min-width: 465px) {
  .title__card {
    font-size: var(--h3-mobile);
  }
}
@media (min-width: 768px) {
  .title__card {
    font-size: var(--h3-tablet);
  }
}
@media (min-width: 1280px) {
  .title__card {
    font-size: var(--h3-desktop);
  }
}

.text {
  font-family: var(--font-primary);
  font-weight: var(--body2-weight);
  line-height: var(--body2-line-height);
  letter-spacing: var(--body2-letter-spacing);
  color: var(--color-primary-middle);
}
.text {
  font-size: var(--body2-mobile);
}
@media (min-width: 465px) {
  .text {
    font-size: var(--body2-mobile);
  }
}
@media (min-width: 768px) {
  .text {
    font-size: var(--body2-tablet);
  }
}
@media (min-width: 1280px) {
  .text {
    font-size: var(--body2-desktop);
  }
}
.text--small {
  font-family: var(--font-primary);
  font-weight: var(--caption-weight);
  line-height: var(--caption-line-height);
  letter-spacing: var(--caption-letter-spacing);
  color: var(--color-secondary-light);
}
.text--small {
  font-size: var(--caption-mobile);
}
@media (min-width: 465px) {
  .text--small {
    font-size: var(--caption-mobile);
  }
}
@media (min-width: 768px) {
  .text--small {
    font-size: var(--caption-tablet);
  }
}
@media (min-width: 1280px) {
  .text--small {
    font-size: var(--caption-desktop);
  }
}
.text--small {
  color: var(--color-primary-middle);
}
.text--big {
  font-family: var(--font-primary);
  font-weight: var(--h4-weight);
  line-height: var(--h4-line-height);
  letter-spacing: var(--h4-letter-spacing);
  color: var(--color-primary-light);
}
.text--big {
  font-size: var(--h4-mobile);
}
@media (min-width: 465px) {
  .text--big {
    font-size: var(--h4-mobile);
  }
}
@media (min-width: 768px) {
  .text--big {
    font-size: var(--h4-tablet);
  }
}
@media (min-width: 1280px) {
  .text--big {
    font-size: var(--h4-desktop);
  }
}

.logo {
  display: flex;
  justify-content: flex-start;
  width: 130px;
  height: 31px;
  transition: var(--transition-all);
  cursor: pointer;
}
.logo.active {
  transition: var(--transition-all);
}
.logo__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: var(--gap-desktop);
}
@media (min-width: 768px) and (max-width: 1279.9px) {
  .nav__list {
    gap: var(--gap-tablet);
  }
}
@media (min-width: 465px) and (max-width: 767.9px) {
  .nav__list {
    gap: var(--gap-mobile);
  }
}
@media (max-width: 464.9px) {
  .nav__list {
    gap: var(--gap-mobile);
  }
}
@media (max-width: 464.9px) {
  .nav__item:nth-of-type(3) {
    display: none;
  }
}
.nav__link {
  display: flex;
  padding: 5px 0;
  justify-content: center;
  align-items: center;
  gap: var(--btn-gap-desktop);
  flex-shrink: 0;
  font-family: var(--font-primary);
  font-weight: var(--nav-weight);
  line-height: var(--nav-line-height);
  letter-spacing: var(--nav-letter-spacing);
  border-bottom: 2px solid transparent;
  transition: var(--transition-all);
  cursor: pointer;
  font-family: var(--font-primary);
  font-weight: var(--body2-weight);
  line-height: var(--body2-line-height);
  letter-spacing: var(--body2-letter-spacing);
  color: var(--color-primary-middle);
}
.nav__link {
  font-size: var(--body2-mobile);
}
@media (min-width: 465px) {
  .nav__link {
    font-size: var(--body2-mobile);
  }
}
@media (min-width: 768px) {
  .nav__link {
    font-size: var(--body2-tablet);
  }
}
@media (min-width: 1280px) {
  .nav__link {
    font-size: var(--body2-desktop);
  }
}
.nav__link:hover {
  color: var(--color-primary-accent);
  border-bottom: 2px solid var(--color-primary-accent);
  transition: var(--transition-all);
}
.nav__link.active {
  color: var(--color-primary-accent);
  border-bottom: 2px solid var(--color-primary-accent);
  transition: var(--transition-all);
}
@media (min-width: 768px) and (max-width: 1279.9px) {
  .nav__link {
    height: 40px;
    gap: var(--btn-gap-tablet);
  }
}
@media (min-width: 465px) and (max-width: 767.9px) {
  .nav__link {
    height: 36px;
    gap: var(--btn-gap-mobile);
  }
}
@media (max-width: 464.9px) {
  .nav__link {
    height: 36px;
    gap: var(--btn-gap-mobile);
  }
}

.header {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  position: sticky;
  top: 0;
  z-index: 999;
  gap: var(--gap-desktop);
}
@media (min-width: 768px) and (max-width: 1279.9px) {
  .header {
    gap: var(--gap-tablet);
  }
}
@media (min-width: 465px) and (max-width: 767.9px) {
  .header {
    gap: var(--gap-mobile);
  }
}
@media (max-width: 464.9px) {
  .header {
    gap: var(--gap-mobile);
  }
}
.header .nav__link {
  color: var(--color-primary-light);
}
.header .nav__link:hover {
  color: var(--color-primary-light);
  border-bottom: 2px solid var(--color-primary-light);
}
.header .nav__link.active {
  color: var(--color-primary-light);
  border-bottom: 2px solid var(--color-primary-light);
}
.header--blog {
  background-color: var(--color-primary-light);
  gap: var(--gap-desktop);
}
@media (min-width: 768px) and (max-width: 1279.9px) {
  .header--blog {
    gap: var(--gap-tablet);
  }
}
@media (min-width: 465px) and (max-width: 767.9px) {
  .header--blog {
    gap: var(--gap-mobile);
  }
}
@media (max-width: 464.9px) {
  .header--blog {
    gap: var(--gap-mobile);
  }
}
.header--blog .nav__link {
  color: var(--color-primary-middle);
}
.header--blog .nav__link:hover {
  color: var(--color-primary-middle);
  border-bottom: 2px solid var(--color-primary-accent);
}
.header--blog .nav__link.active {
  color: var(--color-primary-accent);
  border-bottom: 2px solid var(--color-primary-accent);
}

.hire {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
}
.hire .title {
  position: relative;
  z-index: 9;
}
@media (min-width: 465px) and (max-width: 767.9px) {
  .hire .title {
    font-size: 32px;
  }
}
.hire__bg {
  position: absolute;
}
.hire__img {
  background-image: url(../img/hire_img.webp);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.95;
  width: 800px;
  height: 410px;
}
@media (max-width: 767.98px) {
  .hire__img {
    width: 450px;
    height: auto;
  }
}
.hire__video {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}
.hire__video::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(38, 43, 87, 0.3);
  z-index: 1;
}
.hire__video video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  inset: 0;
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  animation: playVideo 10s linear infinite;
  filter: grayscale(100%);
}
@keyframes playVideo {
  from {
    transform: scale(1.05);
  }
  to {
    transform: scale(1.06);
  }
}

.promo {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 70px;
  width: 100%;
  height: 500px;
  position: relative;
}
@media (min-width: 768px) and (max-width: 1279.9px) {
  .promo {
    height: 40vw;
  }
}
@media (min-width: 465px) and (max-width: 767.9px) {
  .promo {
    height: 40vw;
  }
}
@media (max-width: 464.9px) {
  .promo {
    height: auto;
  }
}
.promo .title {
  font-family: var(--font-secondary);
  font-weight: var(--h1-weight);
  line-height: clamp(var(--h1-line-height-mobile), var(--h1-line-height) + 0.2vw, var(--h1-line-height));
  letter-spacing: var(--h1-letter-spacing);
  color: var(--color-primary-light);
  text-transform: uppercase;
  color: var(--color-primary-accent);
}
.promo .title {
  font-size: var(--h1-mobile);
}
@media (min-width: 465px) {
  .promo .title {
    font-size: var(--h1-mobile);
  }
}
@media (min-width: 768px) {
  .promo .title {
    font-size: var(--h1-tablet);
  }
}
@media (min-width: 1280px) {
  .promo .title {
    font-size: var(--h1-desktop);
  }
}
.promo .text {
  width: 100%;
  max-width: 70%;
  position: relative;
  z-index: 1;
}
@media (min-width: 768px) and (max-width: 1279.9px) {
  .promo .text {
    max-width: 60%;
  }
}
.promo__img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) and (max-width: 1279.9px) {
  .promo__img {
    height: auto;
  }
}
@media (min-width: 465px) and (max-width: 767.9px) {
  .promo__img {
    height: auto;
  }
}
@media (max-width: 464.9px) {
  .promo__img {
    height: auto;
  }
}
.promo__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 768px) and (max-width: 1279.9px) {
  .promo__img img {
    height: auto;
  }
}
@media (min-width: 465px) and (max-width: 767.9px) {
  .promo__img img {
    height: auto;
  }
}
@media (max-width: 464.9px) {
  .promo__img img {
    height: auto;
  }
}

.gallery {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary-light);
}
.gallery__item {
  width: 100%;
  height: 300px;
  flex: 0 1 calc(25% - var(--section-inner-desktop));
}
@media (min-width: 768px) and (max-width: 1279.9px) {
  .gallery__item {
    flex: 0 1 calc(50% - var(--section-inner-tablet));
  }
}
@media (min-width: 465px) and (max-width: 767.9px) {
  .gallery__item {
    flex: 1 1 calc(100% - var(--section-inner-mobile));
  }
}
@media (max-width: 464.9px) {
  .gallery__item {
    flex: 1 1 calc(100% - var(--section-inner-mobile));
  }
}
.gallery__img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
}
.gallery__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.services {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--color-primary-light);
}
.services__header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-desktop);
}
@media (min-width: 768px) and (max-width: 1279.9px) {
  .services__header {
    gap: var(--gap-tablet);
  }
}
@media (min-width: 465px) and (max-width: 767.9px) {
  .services__header {
    gap: var(--gap-mobile);
  }
}
@media (max-width: 464.9px) {
  .services__header {
    gap: var(--gap-mobile);
  }
}
.services__header .text {
  max-width: 430px;
}
@media (min-width: 465px) and (max-width: 767.9px) {
  .services__header {
    flex-wrap: wrap;
  }
}
@media (max-width: 464.9px) {
  .services__header {
    flex-wrap: wrap;
  }
}
.services__list {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  gap: var(--gap-desktop);
}
@media (min-width: 768px) and (max-width: 1279.9px) {
  .services__list {
    gap: var(--gap-tablet);
  }
}
@media (min-width: 465px) and (max-width: 767.9px) {
  .services__list {
    gap: var(--gap-mobile);
  }
}
@media (max-width: 464.9px) {
  .services__list {
    gap: var(--gap-mobile);
  }
}
.services__item {
  width: 100%;
  flex: 1 1 calc(20% - var(--gap-desktop));
  min-height: 250px;
  padding: 20px;
  border: 1px solid var(--color-secondary-light);
  border-radius: 2px;
  background-color: var(--color-primary-light);
}
@media (min-width: 768px) and (max-width: 1279.9px) {
  .services__item {
    flex: 0 1 calc(33.3333333333% - var(--gap-tablet));
  }
}
@media (min-width: 465px) and (max-width: 767.9px) {
  .services__item {
    flex: 1 1 calc(50% - var(--gap-mobile));
  }
}
@media (max-width: 464.9px) {
  .services__item {
    flex: 1 1 calc(100% - var(--gap-mobile));
  }
}
.services__item:hover {
  border: 1px solid var(--accedent-primary);
}
.services__item:hover a hr {
  background-color: var(--color-primary-light);
  border: none;
}
.services__item:hover a h3 {
  color: var(--color-primary-light);
}
.services__item:hover a p {
  color: var(--color-secondary-light);
}
.services__item:hover.target {
  background-image: linear-gradient(to top, rgba(38, 43, 87, 0.85), rgba(38, 43, 87, 0.85)), url(../img/img_1.webp);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.services__item:hover.digital {
  background-image: linear-gradient(to top, rgba(38, 43, 87, 0.85), rgba(38, 43, 87, 0.85)), url(../img/img_2.webp);
}
.services__item:hover.smm {
  background-image: linear-gradient(to top, rgba(38, 43, 87, 0.85), rgba(38, 43, 87, 0.85)), url(../img/img_3.webp);
  background-size: cover;
  background-position: 40% 50%;
  background-repeat: no-repeat;
}
.services__item:hover.blockchain {
  background-image: linear-gradient(to top, rgba(38, 43, 87, 0.85), rgba(38, 43, 87, 0.85)), url(../img/img_4.webp);
}
.services__item:hover.business {
  background-image: linear-gradient(to top, rgba(38, 43, 87, 0.85), rgba(38, 43, 87, 0.85)), url(../img/img_5.webp);
}
.services__item:hover.cloud {
  background-image: linear-gradient(to top, rgba(38, 43, 87, 0.85), rgba(38, 43, 87, 0.85)), url(../img/img_6.webp);
}
.services__item:hover.devops {
  background-image: linear-gradient(to top, rgba(38, 43, 87, 0.85), rgba(38, 43, 87, 0.85)), url(../img/img_7.webp);
}
.services__item:hover.apps {
  background-image: linear-gradient(to top, rgba(38, 43, 87, 0.85), rgba(38, 43, 87, 0.85)), url(../img/img_8.webp);
}
.services__item:hover.qa {
  background-image: linear-gradient(to top, rgba(38, 43, 87, 0.85), rgba(38, 43, 87, 0.85)), url(../img/img_9.webp);
}
.services__item:hover.uiux {
  background-image: linear-gradient(to top, rgba(38, 43, 87, 0.85), rgba(38, 43, 87, 0.85)), url(../img/img_10.webp);
}
.services__link {
  display: flex;
  flex-direction: column;
  gap: var(--gap-mobile);
  text-decoration: none;
}
.services__link hr {
  width: 2.5vw;
  height: 2px;
  background-color: var(--color-primary-accent);
  border: none;
}
.services__link h3 {
  line-height: 1.4;
  min-height: 2.8em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.process {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--color-primary-middle);
}
.process__header {
  display: flex;
  align-items: center;
  gap: var(--gap-desktop);
}
@media (min-width: 768px) and (max-width: 1279.9px) {
  .process__header {
    gap: var(--gap-tablet);
  }
}
@media (min-width: 465px) and (max-width: 767.9px) {
  .process__header {
    gap: var(--gap-mobile);
  }
}
@media (max-width: 464.9px) {
  .process__header {
    gap: var(--gap-mobile);
  }
}
@media (min-width: 768px) and (max-width: 1279.9px) {
  .process__header {
    flex-wrap: wrap;
  }
}
@media (min-width: 465px) and (max-width: 767.9px) {
  .process__header {
    flex-wrap: wrap;
  }
}
@media (max-width: 464.9px) {
  .process__header {
    flex-wrap: wrap;
  }
}
.process__header .title {
  color: var(--color-primary-light);
}
.process__main {
  width: 100%;
  overflow: hidden;
}
.process__wrap {
  width: 100%;
}
.process__step {
  width: 400%;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-desktop);
}
@media (min-width: 768px) and (max-width: 1279.9px) {
  .process__step {
    gap: var(--gap-tablet);
  }
}
@media (min-width: 465px) and (max-width: 767.9px) {
  .process__step {
    gap: var(--gap-mobile);
  }
}
@media (max-width: 464.9px) {
  .process__step {
    gap: var(--gap-mobile);
  }
}
.process__step-item {
  width: 100%;
}
.process__card {
  width: 100%;
}
.process__card-list {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-desktop);
}
@media (min-width: 768px) and (max-width: 1279.9px) {
  .process__card-list {
    gap: var(--gap-tablet);
  }
}
@media (min-width: 465px) and (max-width: 767.9px) {
  .process__card-list {
    gap: var(--gap-mobile);
  }
}
@media (max-width: 464.9px) {
  .process__card-list {
    gap: var(--gap-mobile);
  }
}
.process__card-item--small {
  width: 100%;
  flex: 1 1 calc(10% - var(--gap-desktop));
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: var(--section-inner-tablet);
  border-bottom: 1px solid var(--color-secondary-light);
}
@media (min-width: 768px) and (max-width: 1279.9px) {
  .process__card-item--small {
    flex: 1 1 calc(10% - var(--gap-tablet));
  }
}
@media (min-width: 465px) and (max-width: 767.9px) {
  .process__card-item--small {
    flex: 1 1 calc(10% - var(--gap-mobile));
  }
}
@media (max-width: 464.9px) {
  .process__card-item--small {
    flex: 1 1 calc(10% - var(--gap-mobile));
  }
}
.process__card-item--small .title {
  font-family: var(--font-primary);
  font-weight: var(--h3-weight);
  line-height: var(--h3-line-height);
  letter-spacing: var(--h3-letter-spacing);
  color: var(--color-primary-accent);
  text-transform: uppercase;
}
.process__card-item--small .title {
  font-size: var(--h3-mobile);
}
@media (min-width: 465px) {
  .process__card-item--small .title {
    font-size: var(--h3-mobile);
  }
}
@media (min-width: 768px) {
  .process__card-item--small .title {
    font-size: var(--h3-tablet);
  }
}
@media (min-width: 1280px) {
  .process__card-item--small .title {
    font-size: var(--h3-desktop);
  }
}
.process__card-item--small .title {
  font-family: var(--font-primary);
  color: var(--color-secondary-light);
}
.process__card-item--big {
  width: 100%;
  flex: 1 1 calc(90% - var(--gap-desktop));
  display: flex;
  flex-direction: column;
  gap: var(--section-inner-mobile);
}
@media (min-width: 768px) and (max-width: 1279.9px) {
  .process__card-item--big {
    flex: 1 1 calc(90% - var(--gap-tablet));
  }
}
@media (min-width: 465px) and (max-width: 767.9px) {
  .process__card-item--big {
    flex: 1 1 calc(90% - var(--gap-mobile));
  }
}
@media (max-width: 464.9px) {
  .process__card-item--big {
    flex: 1 1 calc(90% - var(--gap-mobile));
  }
}
.process__card-item--big .title {
  font-family: var(--font-primary);
  font-weight: var(--h3-weight);
  line-height: var(--h3-line-height);
  letter-spacing: var(--h3-letter-spacing);
  color: var(--color-primary-accent);
  text-transform: uppercase;
}
.process__card-item--big .title {
  font-size: var(--h3-mobile);
}
@media (min-width: 465px) {
  .process__card-item--big .title {
    font-size: var(--h3-mobile);
  }
}
@media (min-width: 768px) {
  .process__card-item--big .title {
    font-size: var(--h3-tablet);
  }
}
@media (min-width: 1280px) {
  .process__card-item--big .title {
    font-size: var(--h3-desktop);
  }
}
.process__card-item--big .title {
  font-family: var(--font-secondary);
  color: var(--color-secondary-light);
}
.process__card-item--big .text {
  font-family: var(--font-primary);
  font-weight: var(--h4-weight);
  line-height: var(--h4-line-height);
  letter-spacing: var(--h4-letter-spacing);
  color: var(--color-primary-light);
}
.process__card-item--big .text {
  font-size: var(--h4-mobile);
}
@media (min-width: 465px) {
  .process__card-item--big .text {
    font-size: var(--h4-mobile);
  }
}
@media (min-width: 768px) {
  .process__card-item--big .text {
    font-size: var(--h4-tablet);
  }
}
@media (min-width: 1280px) {
  .process__card-item--big .text {
    font-size: var(--h4-desktop);
  }
}
.process__card-item--big .text {
  color: var(--color-secondary-light);
}
.process__footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-desktop);
}
@media (min-width: 768px) and (max-width: 1279.9px) {
  .process__footer {
    gap: var(--gap-tablet);
  }
}
@media (min-width: 465px) and (max-width: 767.9px) {
  .process__footer {
    gap: var(--gap-mobile);
  }
}
@media (max-width: 464.9px) {
  .process__footer {
    gap: var(--gap-mobile);
  }
}
.process__nav {
  display: flex;
  align-items: center;
}
@media (min-width: 465px) and (max-width: 767.9px) {
  .process__nav {
    flex-direction: column;
  }
}
@media (max-width: 464.9px) {
  .process__nav {
    flex-direction: column;
  }
}
.process__nav-item {
  width: 100%;
  flex: 1 1 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-top: 7px solid transparent;
}
.process__nav-item .text {
  color: var(--color-secondary-light);
}
.process__nav-item.active {
  background: var(--color-secondary-light);
  border-top: 7px solid var(--color-primary-accent);
}
.process__nav-item.active .text {
  color: var(--color-primary-accent);
}

.partners {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--color-primary-light);
}
.partners__header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-desktop);
}
@media (min-width: 768px) and (max-width: 1279.9px) {
  .partners__header {
    gap: var(--gap-tablet);
  }
}
@media (min-width: 465px) and (max-width: 767.9px) {
  .partners__header {
    gap: var(--gap-mobile);
  }
}
@media (max-width: 464.9px) {
  .partners__header {
    gap: var(--gap-mobile);
  }
}
.partners__header .text {
  max-width: 430px;
}
@media (min-width: 465px) and (max-width: 767.9px) {
  .partners__header {
    flex-wrap: wrap;
  }
}
@media (max-width: 464.9px) {
  .partners__header {
    flex-wrap: wrap;
  }
}
.partners__main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-desktop);
}
@media (min-width: 768px) and (max-width: 1279.9px) {
  .partners__main {
    gap: var(--gap-tablet);
  }
}
@media (min-width: 465px) and (max-width: 767.9px) {
  .partners__main {
    gap: var(--gap-mobile);
  }
}
@media (max-width: 464.9px) {
  .partners__main {
    gap: var(--gap-mobile);
  }
}
@media (min-width: 768px) and (max-width: 1279.9px) {
  .partners__main {
    flex-wrap: wrap;
  }
}
@media (min-width: 465px) and (max-width: 767.9px) {
  .partners__main {
    flex-wrap: wrap;
  }
}
@media (max-width: 464.9px) {
  .partners__main {
    flex-wrap: wrap;
  }
}
.partners__list {
  width: calc(60% - var(--gap-desktop));
  display: flex;
  flex-wrap: wrap;
  border-right: 1px solid var(--color-secondary-light);
  gap: var(--gap-desktop);
}
@media (min-width: 768px) and (max-width: 1279.9px) {
  .partners__list {
    gap: var(--gap-tablet);
  }
}
@media (min-width: 465px) and (max-width: 767.9px) {
  .partners__list {
    gap: var(--gap-mobile);
  }
}
@media (max-width: 464.9px) {
  .partners__list {
    gap: var(--gap-mobile);
  }
}
@media (min-width: 768px) and (max-width: 1279.9px) {
  .partners__list {
    width: 100%;
    padding-bottom: var(--section-inner-mobile);
    border-right: none;
    border-bottom: 1px solid var(--color-secondary-light);
  }
}
@media (min-width: 465px) and (max-width: 767.9px) {
  .partners__list {
    width: 100%;
    padding-bottom: var(--section-inner-mobile);
    border-right: none;
    border-bottom: 1px solid var(--color-secondary-light);
  }
}
@media (max-width: 464.9px) {
  .partners__list {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid var(--color-secondary-light);
  }
}
.partners__item {
  width: 100%;
  flex: 0 1 calc(33.3333333333% - var(--gap-desktop));
}
@media (min-width: 768px) and (max-width: 1279.9px) {
  .partners__item {
    flex: 0 1 calc(33.3333333333% - var(--gap-tablet));
  }
}
@media (min-width: 465px) and (max-width: 767.9px) {
  .partners__item {
    flex: 0 1 calc(50% - var(--gap-mobile));
  }
}
@media (max-width: 464.9px) {
  .partners__item {
    flex: 0 1 calc(50% - var(--gap-mobile));
  }
}
.partners__logo {
  width: 100%;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}
.partners__certification {
  width: calc(40% - var(--gap-desktop));
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-desktop);
}
@media (min-width: 768px) and (max-width: 1279.9px) {
  .partners__certification {
    gap: var(--gap-tablet);
  }
}
@media (min-width: 465px) and (max-width: 767.9px) {
  .partners__certification {
    gap: var(--gap-mobile);
  }
}
@media (max-width: 464.9px) {
  .partners__certification {
    gap: var(--gap-mobile);
  }
}
@media (min-width: 768px) and (max-width: 1279.9px) {
  .partners__certification {
    width: 100%;
  }
}
@media (min-width: 465px) and (max-width: 767.9px) {
  .partners__certification {
    width: 100%;
  }
}
@media (max-width: 464.9px) {
  .partners__certification {
    width: 100%;
  }
}
.partners__certificate {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-desktop);
}
@media (min-width: 768px) and (max-width: 1279.9px) {
  .partners__certificate {
    gap: var(--gap-tablet);
  }
}
@media (min-width: 465px) and (max-width: 767.9px) {
  .partners__certificate {
    gap: var(--gap-mobile);
  }
}
@media (max-width: 464.9px) {
  .partners__certificate {
    gap: var(--gap-mobile);
  }
}
.partners__certificate-item {
  width: 100%;
  flex: 0 1 calc(33.3333333333% - var(--gap-desktop));
}
@media (min-width: 768px) and (max-width: 1279.9px) {
  .partners__certificate-item {
    flex: 0 1 calc(33.3333333333% - var(--gap-tablet));
  }
}
@media (min-width: 465px) and (max-width: 767.9px) {
  .partners__certificate-item {
    flex: 0 1 calc(50% - var(--gap-mobile));
  }
}
@media (max-width: 464.9px) {
  .partners__certificate-item {
    flex: 0 1 calc(50% - var(--gap-mobile));
  }
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary-middle);
}
.footer.section {
  padding: 3vw 10vw;
}
@media (min-width: 768px) and (max-width: 1279.9px) {
  .footer.section {
    padding: 5vw 10vw;
  }
}
@media (min-width: 465px) and (max-width: 767.9px) {
  .footer.section {
    padding: 10vw;
  }
}
@media (max-width: 464.9px) {
  .footer.section {
    padding: 10vw;
  }
}
.footer__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--section-inner-desktop);
}
@media (min-width: 768px) and (max-width: 1279.9px) {
  .footer__header {
    gap: var(--section-inner-tablet);
  }
  .footer__header .logo {
    margin: 0;
  }
}
@media (min-width: 465px) and (max-width: 767.9px) {
  .footer__header {
    gap: var(--section-inner-tablet);
  }
  .footer__header .logo {
    margin: 0;
  }
}
@media (max-width: 464.9px) {
  .footer__header {
    flex-direction: column;
    gap: var(--section-inner-tablet);
  }
  .footer__header .logo {
    margin: 0;
  }
}
.footer__nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__list {
  display: flex;
  align-items: center;
  gap: var(--gap-desktop);
}
@media (min-width: 768px) and (max-width: 1279.9px) {
  .footer__list {
    gap: var(--gap-tablet);
  }
}
@media (min-width: 465px) and (max-width: 767.9px) {
  .footer__list {
    gap: var(--gap-mobile);
  }
}
@media (max-width: 464.9px) {
  .footer__list {
    gap: var(--gap-mobile);
  }
}
.footer__link {
  display: flex;
  padding: 5px 0;
  gap: var(--btn-gap-desktop);
  flex-shrink: 0;
  font-family: var(--font-primary);
  font-weight: var(--nav-weight);
  line-height: var(--nav-line-height);
  letter-spacing: var(--nav-letter-spacing);
  border-bottom: 2px solid transparent;
  transition: var(--transition-all);
  cursor: pointer;
  font-family: var(--font-primary);
  font-weight: var(--body2-weight);
  line-height: var(--body2-line-height);
  letter-spacing: var(--body2-letter-spacing);
  color: var(--color-primary-middle);
}
.footer__link {
  font-size: var(--body2-mobile);
}
@media (min-width: 465px) {
  .footer__link {
    font-size: var(--body2-mobile);
  }
}
@media (min-width: 768px) {
  .footer__link {
    font-size: var(--body2-tablet);
  }
}
@media (min-width: 1280px) {
  .footer__link {
    font-size: var(--body2-desktop);
  }
}
.footer__link {
  color: var(--color-primary-light);
}
.footer__link:hover {
  color: var(--color-primary-light);
  border-bottom: 2px solid var(--color-primary-light);
  transition: var(--transition-all);
}
.footer__link.active {
  color: var(--color-primary-light);
  border-bottom: 2px solid var(--color-primary-light);
  transition: var(--transition-all);
}
.footer__link.active:hover {
  color: var(--color-primary-light);
  border-bottom: 2px solid var(--color-primary-accent);
  transition: var(--transition-all);
}
@media (min-width: 768px) and (max-width: 1279.9px) {
  .footer__link {
    height: 40px;
    gap: var(--btn-gap-tablet);
  }
}
@media (min-width: 465px) and (max-width: 767.9px) {
  .footer__link {
    height: 36px;
    gap: var(--btn-gap-mobile);
  }
}
@media (max-width: 464.9px) {
  .footer__link {
    height: 36px;
    gap: var(--btn-gap-mobile);
  }
}
.footer__text {
  font-family: var(--font-primary);
  font-weight: var(--caption-weight);
  line-height: var(--caption-line-height);
  letter-spacing: var(--caption-letter-spacing);
  color: var(--color-secondary-light);
}
.footer__text {
  font-size: var(--caption-mobile);
}
@media (min-width: 465px) {
  .footer__text {
    font-size: var(--caption-mobile);
  }
}
@media (min-width: 768px) {
  .footer__text {
    font-size: var(--caption-tablet);
  }
}
@media (min-width: 1280px) {
  .footer__text {
    font-size: var(--caption-desktop);
  }
}
.footer__address {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-style: normal;
  gap: var(--gap-desktop);
}
@media (min-width: 768px) and (max-width: 1279.9px) {
  .footer__address {
    gap: var(--gap-tablet);
  }
}
@media (min-width: 465px) and (max-width: 767.9px) {
  .footer__address {
    gap: var(--gap-mobile);
  }
}
@media (max-width: 464.9px) {
  .footer__address {
    gap: var(--gap-mobile);
  }
}
@media (max-width: 464.9px) {
  .footer__address {
    align-items: center;
  }
}
.footer__address-link {
  font-family: var(--font-primary);
  font-weight: var(--body2-weight);
  line-height: var(--body2-line-height);
  letter-spacing: var(--body2-letter-spacing);
  color: var(--color-primary-middle);
}
.footer__address-link {
  font-size: var(--body2-mobile);
}
@media (min-width: 465px) {
  .footer__address-link {
    font-size: var(--body2-mobile);
  }
}
@media (min-width: 768px) {
  .footer__address-link {
    font-size: var(--body2-tablet);
  }
}
@media (min-width: 1280px) {
  .footer__address-link {
    font-size: var(--body2-desktop);
  }
}
.footer__address-link {
  color: var(--color-primary-light);
  cursor: pointer;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-xs);
}
@media (max-width: 464.9px) {
  .footer__contacts {
    align-items: center;
  }
}
.footer__tel {
  font-family: var(--font-primary);
  font-weight: var(--body2-weight);
  line-height: var(--body2-line-height);
  letter-spacing: var(--body2-letter-spacing);
  color: var(--color-primary-middle);
}
.footer__tel {
  font-size: var(--body2-mobile);
}
@media (min-width: 465px) {
  .footer__tel {
    font-size: var(--body2-mobile);
  }
}
@media (min-width: 768px) {
  .footer__tel {
    font-size: var(--body2-tablet);
  }
}
@media (min-width: 1280px) {
  .footer__tel {
    font-size: var(--body2-desktop);
  }
}
.footer__tel {
  color: var(--color-primary-light);
  cursor: pointer;
}
.footer__bottom {
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-desktop);
}
@media (min-width: 768px) and (max-width: 1279.9px) {
  .footer__bottom {
    gap: var(--gap-tablet);
  }
}
@media (min-width: 465px) and (max-width: 767.9px) {
  .footer__bottom {
    gap: var(--gap-mobile);
  }
}
@media (max-width: 464.9px) {
  .footer__bottom {
    gap: var(--gap-mobile);
  }
}
@media (max-width: 464.9px) {
  .footer__bottom {
    flex-direction: column;
    align-items: center;
  }
}

.shadow {
  box-shadow: var(--shadow-soft);
}

.skip-link {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.skip-link:focus {
  top: 0;
}

[hidden] {
  display: none;
}

.visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

html {
  scroll-behavior: smooth;
}

.section {
  padding-top: var(--section-padding-desktop);
  padding-bottom: var(--section-padding-desktop);
  padding-left: var(--section-margin-desktop);
  padding-right: var(--section-margin-desktop);
  gap: var(--section-inner-desktop);
}
@media (min-width: 768px) and (max-width: 1279.9px) {
  .section {
    padding-top: var(--section-padding-tablet);
    padding-bottom: var(--section-padding-tablet);
    padding-left: var(--section-margin-tablet);
    padding-right: var(--section-margin-tablet);
  }
}
@media (min-width: 465px) and (max-width: 767.9px) {
  .section {
    padding-top: var(--section-padding-mobile);
    padding-bottom: var(--section-padding-mobile);
    padding-left: var(--section-margin-mobile);
    padding-right: var(--section-margin-mobile);
  }
}
@media (max-width: 464.9px) {
  .section {
    padding-top: var(--section-padding-mobile);
    padding-bottom: var(--section-padding-mobile);
    padding-left: var(--section-margin-mobile);
    padding-right: var(--section-margin-mobile);
  }
}
@media (min-width: 768px) and (max-width: 1279.9px) {
  .section {
    gap: var(--section-inner-tablet);
  }
}
@media (min-width: 465px) and (max-width: 767.9px) {
  .section {
    gap: var(--section-inner-mobile);
  }
}
@media (max-width: 464.9px) {
  .section {
    gap: var(--section-inner-mobile);
  }
}