@use "../../base/variables";
@use "../../base/mixins";

.gallery {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary-light);
    &__item {
        width: 100%;
        height: 300px;
        flex: 0 1 calc(100% / 4 - var(--section-inner-desktop));
        @include mixins.tablet {
            flex: 0 1 calc(100% / 2 - var(--section-inner-tablet));
        }
        @include mixins.mobile {
            flex: 1 1 calc(100% - var(--section-inner-mobile));
        }
        @include mixins.xs {
            flex: 1 1 calc(100% - var(--section-inner-mobile));
        }
    }
    &__img {
        width: 100%;
        height: 100%;
        border-radius: 2px;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}