@use "../base/variables";
@use "../base/mixins";

.nav {
    &__list {
        display: flex;
        align-items: center;
        @include mixins.gap;
    }
    &__item {
        @include mixins.xs {
            &:nth-of-type(3) {
                display: none;
            }
        }
    }
    &__link {
        @include mixins.nav-link;
    }
}
